.row1 {
  min-width: 1300px;
  height: 870px;
  background-color: #fef9f5;
  background-image: url("./images/vv-row1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row2 .content {
  height: 756px;
  padding-top: 47px;
}

.row2 .content .top {
  color: #d6cec9;
  font-size: 12px;
  font-family: "Avenir Next";
  text-align: center;
}

.row2 .content h2 {
  color: #837a75;
  font-size: 50px;
  text-align: center;
  font-family: "Bodoni 72";
  font-weight: bold;
}

.row2 .content img {
  display: block;
  width: 1046px;
  height: 579px;
  margin: 20px auto 0;
}

.row3 {
  background: #fbf8f6;
}

.row3 .content {
  height: 760px;
  padding: 0 20px;
  position: relative;
  padding-top: 100px;
  background: #fbf8f6;
}

.row3 .content .textimage {
  position: absolute;
  width: 12px;
  height: 169px;
  background-image: url("./images/home-row3-text.png");
  background-repeat: no-repeat;
  top: 104px;
  left: 138px;
}

.row3 .content .toptext {
  color: #d6cec9;
  font-size: 12px;
  text-align: center;
}

.row3 .content .maintext {
  color: #837a75;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}

.row3 .content .line {
  width: 63px;
  height: 4px;
  background-image: url("./images/line.png");
  margin: 38px auto 14px;
}

.row3 .content .peoper {
  margin-top: 60px;
}

.row3 .content .peoper .avator {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eed4c4;
  margin: 0 auto;
}

.row3 .content .peoper li {
  width: 300px;
  height: 336px;
  list-style: none;
  float: left;
  margin: 0 48px;
  text-align: center;
  background-image: url("./images/star.png");
  background-repeat: no-repeat;
  background-size: 112px 17px;
  background-position: center bottom;
}

.row3 .content .peoper li:last-child {
  margin-right: 0;
}

.row3 .content .peoper .name {
  font-size: 20px;
  color: #d6cec9;
  line-height: 20px;
  margin-top: 10px;
}

.row3 .content .peoper .title {
  color: #9f9793;
  font-size: 24px;
  line-height: 60px;
}

.row3 .content .peoper .description {
  font-size: 12px;
  color: #9f9793;
  line-height: 24px;
}

.row3 .content .peoper .star {
  width: 112px;
  height: 17px;
  background-image: url("./images/star.png");
  background-repeat: no-repeat;
  margin: 40px auto 0;
}

.row4 .content {
  height: 986px;
  padding-top: 68px;
  position: relative;
  background: #ffffff;
}

.row4 .content .banner {
  width: 100%;
  height: 499px;
  background-image: url("./images/vv-row4.jpg");
  background-repeat: no-repeat;
}

.row4 .content .bannertext {
  position: absolute;
  width: 100%;
  top: 530px;
  font-size: 50px;
  color: #b57d4f;
  text-align: center;
  font-family: "Bodoni 72";
  font-weight: bold;
  z-index: 800;
}

.row4 .content .toptext {
  color: #847a75;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 65px;
}

.row4 .content .contenttext {
  color: #847a75;
  font-size: 18px;
  text-align: center;
  line-height: 34px;
}

.row4 .content .proxy {
  display: block;
  color: #fff;
  width: 290px;
  height: 50px;
  background-color: #e6bca3;
  box-shadow: 8px 8px 32px 0 rgba(230, 188, 163, 0.7);
  line-height: 50px;
  text-align: center;
  margin: 45px auto 0;
}

.row5 .content {
  height: 860px;
  padding-top: 38px;
  position: relative;
  background: #ffffff;
}

.row5 .content .left {
  width: 635px;
  float: left;
}

.row5 .content img {
  width: 100%;
  height: 482px;
}

.row5 .content .right {
  width: 635px;
  float: right;
}

.row5 .content .title {
  font-size: 62px;
  line-height: 73px;
  color: #b57d4f;
  font-family: "Bodoni 72";
  text-align: center;
  margin-top: -30px;
}

.row5 .content .text {
  color: #847a75;
  font-size: 20px;
  text-align: center;
  margin-top: 14px;
}

.row6 {
  background-color: #f7f1ed;
}

.row6 .content {
  height: 596px;
  padding-top: 20px;
  position: relative;
  background-color: #f7f1ed;
}

.jcImgScroll{position:relative;height:540px;margin:0 auto 0 auto;}
.jcImgScroll li{border:1px solid #ccc;}
.jcImgScroll li a{background:#fff;display:block;position:relative;z-index:99;}

.jcImgScroll li img,.jcImgScroll li,.jcImgScroll em,.jcImgScroll dl{display:none;border:0 none;}
.jcImgScroll li img{width: 100%;height: 100%;}
.jcImgScroll em.sPrev{
  left: 0!important;
  width: 50%!important;
  height: 100%!important;
}
.jcImgScroll em.sNext{
  left: 50%!important;
  width: 50%!important;
  height: 100%!important;
}
.jcImgScroll dl dd{background:url(images/NumBtn.png) no-repeat 0 bottom;text-indent:-9em;}
.jcImgScroll dl dd:hover,.jcImgScroll dl dd.curr{background-position:0 0;}

.row7 .content {
  height: 884px;
  padding-top: 50px;
  position: relative;
  background-color: #ffffff;
}

.row7 .content .toptext {
  color: #b57d4f;
  font-size: 58px;
  text-align: center;
  font-family: "Bodoni 72";
  font-weight: bold;
}

.row7 .content .titletext {
  font-size: 30px;
  color: #847a75;
  text-align: center;
  margin-top: 30px;
}

.row7 .content .contenttext {
  color: #847a75;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.row7 .content .left,
.row7 .content .mid,
.row7 .content .right {
  float: left;
}

.row7 .content .left {
  margin-left: 20px;
}

.row7 .content .mid {
  margin-left: 150px;
}

.row7 .content .right {
  margin-left: 150px;
}

.row7 .content img {
  width: 318px;
  height: 307px;
  box-shadow: 0 2px 40px 0 rgba(181, 125, 79, 0.1);
}

.row7 .content .title {
  font-size: 18px;
  color: #847a75;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.row7 .content .text {
  font-size: 14px;
  color: #847a75;
  text-align: center;
  margin-top: 20px;
}

.row8 {
  background-color: #f7f1ed;
}

.row8 .content {
  height: 1186px;
  padding-top: 50px;
  position: relative;
  background-color: #f7f1ed;
}

.row8 .content .toptext {
  color: #b57d4f;
  font-size: 58px;
  text-align: center;
  font-family: "Bodoni 72";
  font-weight: bold;
}

.row8 .content .titletext {
  font-size: 30px;
  color: #847a75;
  text-align: center;
  margin-top: 30px;
}

.row8 .content .contenttext {
  color: #847a75;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  line-height: 36px;
  margin-bottom: 70px;
}

.row8 .content .item1,
.row8 .content .item2,
.row8 .content .item3 {
  width: 278px;
  float: left;
}

.row8 .content .item2 {
  margin-left: 40px;
}

.row8 .content .item3 {
  margin-left: 40px;
}

.row8 .content .item4 {
  width: 278px;
  float: right;
}

.row8 .content img {
  width: 223px;
  height: 215px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 40px 0 rgba(181, 125, 79, 0.1);
}

.row8 .content .title {
  font-size: 18px;
  color: #847a75;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.row8 .content .text {
  font-size: 18px;
  color: #847a75;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
}